* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-blue: #1F2937;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.first {
    color: white;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

ul a,
ul a:visited {
    color: white;
    text-decoration: none;
}